# ==============================================================================
# Brad Technology Open Source Stack — Environment Configuration Template
# License: AGPL-3.0-or-later
# Copy this file to .env and adjust values for your environment.
# ==============================================================================

# Node / Bun Environment
NODE_ENV=production

# ------------------------------------------------------------------------------
# PostgreSQL MDM Database Configuration
# ------------------------------------------------------------------------------
POSTGRES_HOST=localhost
POSTGRES_PORT=54322
POSTGRES_DB=bradtech_db
POSTGRES_USER=brad
POSTGRES_PASSWORD=bradpass
DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

# ------------------------------------------------------------------------------
# Mosquitto MQTT & LoRaWAN ChirpStack
# ------------------------------------------------------------------------------
MQTT_BROKER_URL=tcp://localhost:1883
MQTT_USERNAME=
MQTT_PASSWORD=
CHIRPSTACK_SERVER_URL=https://eu1.lorawan.qtrn.io

# ------------------------------------------------------------------------------
# Adminer Web DB Inspection Tool
# ------------------------------------------------------------------------------
ADMINER_PORT=8080
ADMINER_DEFAULT_SERVER=bradtech-postgres
